<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--For generating report when the testcases are executed-->
<listeners>
 <listener class-name="reportGeneration.Listener">
 </listener>
 </listeners>
  <test thread-count="5" name="Test">
    <classes>
    <!-- HomeTest will be executed first when we run testng.xml-->
      <class name="testScript.HomeTest"/> 
      <class name="testScript.ManageNewsTest"/> 
      <class name="testScript.LoginTest"/>
      <class name="testScript.AdminTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
